<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.css"
        rel="stylesheet" crossorigin="anonymous">
        <limk rel='stylesheet'
        href='/stylesheets/style.css' />
</head>

<body class="container">

    <header>
        <h1 class="display-4">
            <%= title %></h1>
    </header>
    <div role="main">
        <form method="post" action="/users/edit">
            <input type="hidden" name="id" id="id" value="<%= user.id %>">
            <div class="mb-3" class="form-label">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="<%= user.name %>">
            </div> 
            <div class="mb-3" class="form-label">
                <label for="mail">Mail</label>
                <input type="text" name="mail" id="mail" class="form-control" value="<%= user.mail %>">
            </div>
            <div class="mb-3" class="form-label">
                <label for="pass">Password</label>
                <input type="text" name="pass" id="pass" class="form-control" value="<%= user.pass %>">
                <!-- ここpasswordじゃなくてtext？ -->
            </div>
            <div class="mb-3" class="form-label">
                <label for="age">Age</label>
                <input type="number" name="age" id="age" class="form-control" value="<%= user.age %>">
            </div>
            <input type="submit" value="作成" class="btn btn-primary">
        </form>
        </table>
    </div>
</body>

</html>